<html lang="en">

<%- include('./partials/header.ejs') %>

    <body>
        <!-- with include we use the - sign -->
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2> About us</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a</p>
            </div>


            <%- include('./partials/footer.ejs') %>
    </body>

</html>