<html lang="en">

<%- include('./partials/header.ejs') %>

    <body>
        <!-- with include we use the - sign -->
        <%- include('./partials/nav.ejs') %>

            <div class="not-found content">
                WHOOPS WE DIDNT FOUND THE PAGE
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>